body {
    color: rgb(116, 116, 116);
}
 
thead {
    padding: 50px;
    text-align: left;
}

table.dataTable tbody tr {
    background-color: transparent;
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1.5px solid rgb(175, 175, 175);
}

/* custom class  */

.centerTable {
  
    margin: auto;
    position: absolute;
    top: 25%; left: 0; bottom: 0; right: 0;


}

.customModalhead {
    justify-content: flex-end;
}
.customBtn {
    color: rgb(0, 162, 255);
    border: 1.2px solid rgb(0, 162, 255);
    font-size: 14px;
    padding: 0 10px 0;
}

.customIcon {
    color: rgb(0, 162, 255);
    margin-right: 20px;
}

.customInput {
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117);
    border-radius: 0;
}

.modal-dialog {
    max-width: 800px;
}

.toggle {
    display : none;
    }